.setions {
  display: flex;
  gap: 40px;
}

#app-title {
  text-align: center;
  height: 30px;
}

.pdf-loader {
  width: 60%;
}

.marks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 45px;
}

body {
  background: linear-gradient(135deg, #b2c9e1, #047a9ba1);

}